<section class="dashboard">
  <header class="title-header">
    <h1>Dashboard</h1>
  </header>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Total Products</th>
        <th>Total Categories</>
      </tr>
    </thead>
    <tbody>
      <td><%= @products_count %></td>
      <td><%= @categories_count %></td>
    </tbody>
  </table>
</section>
