<section class="about-index">
  <header class="about-header">
    <h1>Info</h1>
  </header>
  
  <div class="about-text">
    <p>Welcome to the Jungle! We exist solely to meet all your plant base needs!</p>
  </div>
</section>